body {
    margin: 0px;
}
.red {
    width: 200px;
    height: 200px;
    background-color: #ff0000;
    display: inline-block;
    position: relative;
    left: 400px;


}
.yellow {
    width: 200px;
    height: 200px;
    background-color: rgb(179, 255, 0);
    display: inline-block;
    position: relative;

}
.blue {
    width: 200px;
    height: 200px;
    background-color: rgb(68, 0, 255);
    display: inline-block;
    position: relative;
    right: 400px;
    position: fixed;
    left: 0px;


}
.green {
    width: 200px;
    height: 200px;
    background-color: #00ff15;
    display: inline-block;
    position: absolute;
    top: 650px;
    left: 400px;

}
.pienk {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 149);
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 0px;

}
.brown {
    width: 200px;
    height: 200px;
    background-color: brown;
    display: inline-block;
    position: absolute;
    top: 450px;
    left: 200px;


}
